
:root{
	--main-color: #a5a5af;
	--second-color: #4cdef5;
	--third-color: #1d2731;
	--forth-color: #fa7c92;
	--fifth-color: #ffff;
	font-size: 16px;
	font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

/* 
--main-color: #8fd8d2;
	--second-color: #fedcd2;
	--third-color: #df744a;
	--forth-color: #dcb239;
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-image: url('https://www.todofondos.net/wp-content/uploads/divertido-fondo-de-pantalla-de-dibujos-animados-en-3d-hd.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
	width: 100%;
	min-height: 85vh;
	padding-bottom: 14rem;
}

.header{
	background-color: var(--second-color);
}

.header h1{
	color: var(--third-color);
	font-size: 3rem;
	font-weight: 800;
	padding: 2rem;
}

.header h1:hover{
	color: var(--fifth-color);
	cursor: pointer;
}

.footer {
	background-color: var(--third-color);
	position: absolute;
	bottom: 0;
	height: 13rem;
	width: 100%;
	color: white;
	text-align: center;
}

.footerLink{
	padding: 1rem;
}

.footerLink a{
	font-size: 2rem;
	color: var(--second-color);
}

.footerSpan{
	display:grid;
	
}

.footerSpan span{
	font-size: 1.5rem;
	padding: .2rem .5rem 2rem;
}